<!DOCTYPE html>
<html>
<head>
  <meta lang="en">
  <title>AlgoTradeX,AI-Powered Trading</title>
  <link rel="stylesheet" href="E:/resume projects 2/web designing/1dfanpage/cssfiles/finaldesign.css">
  <link rel="shortcut icon" href="abc/imag/1d.ico">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<body>
<!-- <section class="slide">
    <div class="split-slideshow">
      <div class="slideshow">
        <div class="slider">
          <div class="item">
            <img class="simg" src="abc/imag/zayn-malik.jpg" width="100%" height="900px"/>
          </div>
          <div class="item">
            <img class="simg" src="abc/imag/louis-tomlinson.jpg" width="100%" height="900px"/>
          </div>
          <div class="item">
            <img class="simg" src="abc/imag/harry-styles.jpg" width="100%" height="900px"/>
          </div>
          <div class="item">
            <img class="simg" src="abc/imag/niall-horan.jpg" width="100%" height="900px"/>
          </div>
          <div class="item">
            <img class="simg" src="abc/imag/liam-p.jpeg" width="100%" height="900px"/>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <header>
      <a class="headname" href="">AlgoTradeX</a>
      <a href=""><img class="sideimg" src="abc/imag/side.jpg" alt="AlgoTradeX" width="180" height = "100"></a>
    <!-- <div class="subhead">"We always will be the five singing idiots"</div> -->
    </header>
  <nav class="nav1"><hr/>
      <a class="navlink1" href="">Account</a>
      <a class="navlink1" href="" target="_blank">Performance</a>
      <a class="navlink1" href="https://www.vogue.co.uk/miss-vogue/gallery/one-direction-best-moments/" target="_blank">Positions</a>
      <a class="navlink1" href="https://www.capitalfm.com/news/one-direction-comeback-reunion/" target="_blank">Strategies</a>
      <a class="navlink1" href="https://www.onedirectionmusic.com/">Logout</a>
  </nav>
<main class="main">
  <section class="teny">
    <img  src="abc/imag/10y.jpg" alt="10 year anniversary" width="100%">
    <div class="para1">Relive your fav 1D moments here on our page!</div>
  </section>
  <section class="second">
  <img src="abc/imag/his.jpg" alt="history image" width="100%">
    <div class="container1">
      <div class="left1">The Pop boyband One Direction was formed by music mogul Simon Cowell in 2010 during an episode of the british singing competition series "The X Factor."</div>
      <div class="right1" ><img src="abc/imag/xfac.jpg" alt="X Factor" width="600px" height="350px" style="border: #000000; border-style:dashed;;"></div>
    </div>
  </section>
  <section class="container2">
    <div class="left2">
      <h1 class="memhead">Band</h1>
      <ul class="members">
        <li>Harry Styles</li><br>
        <li>Louis Tomlinson</li><br>
        <li>Zayn Malik</li><br>
        <li>Niall Horan</li><br>
        <li>Liam Payne</li><br>
      </ul>
      <img  class="bandimg" src="abc/imag/tenor.gif" alt="GIF" width="500px" height="300px">
      <div style="margin-top:100px"><a class="bandlink" href="">Check the whole Band here!</a></div>
    </div>
    <div class="right2">
      <p>they released their first album 'Up all Night' in november 2011</p>
      <div style="width: 500px; text-align:center;padding: 140px 0px 0px 250px">
        'What Makes You Beautiful' being their debut single was one of the biggest hits of the time
      </div>
      <p style="padding: 100px 40px 20px 40px">the success was followed by many more outstanding hits from the band such as 'Best Song Ever', 'Story of My Life', 'Drag Me Down' and many more...</p>
      <div style="margin-top:170px"><a class="musiclink" href="">check their best songs here!</a></div>
    </div>
  </section>
  <section class="container3">
    <div class="left3">
      <h1 class="lanehead">Down the memory lane</h1>
      <p class="break"> After member Zayn Malik left in 2015, the band continued as a four-piece</p>
      <p class="break">Then later that year they announced they'd be going on a hiatus<br><br>The boys have since gone on to release they own music, with Harry Styles even pursuing a career in acting</p>
      <img class="breakimg" src="abc/imag/breakk.jpg" alt="last image">
    </div>
    <div class="right3">
      <p class="break2">even in their short Five year carrer, 1D won a number of awards</p>
      <p class="break2">from<br>Brit Award for Song of the Year<br>for thier song<br>'What makes you Beautiful' in their very first year</p>
      <p class="break2">to<br>Billboard Music Award for Top Group<br>three times in five years</p>
      <p class="break2">1D won a real deal of awards!</p>
      <div style="margin-top:50px;"><a class="achlink" href="">Check all their achievements here!</a></div>
    </div>
  </section>
  <section class="container4">
  </section>
  <img class="botomimg" src="abc/imag/bluebotom.jpg" alt="image" width="100%" height="150" style="margin:0px">
  <section class="container5">
    <div class="con51"><table class="footer">
              <tr>
              <th></th>
              <th><a href="https://www.facebook.com/onedirectionmusic/" target="_blank"><img class="webimg" src="./facebook.png" width="19px" height="19px"></th>
              <th><a href="https://twitter.com/onedirection?lang=en" target="_blank"><img class="webimg" src="./twitter.png" width="15px" height="15px"></th>
              <th><a href="https://www.instagram.com/onedirection/?hl=en" target="_blank"><img class="webimg" src="./instagram.png" width="15px" height="15px"></th>
              </tr>
    </table></div>
    <div class="con52"><a class="backtop" href="#top">Back to top</a></div>
    <div class="con53"><p style="color:#FFFFFF;"> Fanpage</p></div>
  </section>
</main>
</body>
</html>
